{% extends 'todo_list/base.html' %}

{% block title %}
	ToDo список App
{% endblock %}

{% block body %}
	<h1>ToDo список App</h1>
      <ul>
        <li><a href="{% url 'todo_list:list' %}">Все todo элементы</a></li>
        <li><a href="{% url 'todo_list:done' %}">Все выполненные todo</a></li>
        <li><a href="{% url 'todo_list:create' %}">Добавить todo</a></li>
      </ul>
  <h2>ToDos:</h2>
   {% comment %} вместо <ul> подключаем todo_items_list.html
  <ul>
    {# {% for todo_item in todo_items %}  #}  
    {% for todo_item in object_list %}   
    	<li>
        {{ todo_item.title }}
        {% if todo_item.done %}
          ✅
        {% else %}
          ❌
        {% endif %}
      </li>
    {% endfor %}   
  </ul>
  {% endcomment %}
  {% include  'todo_list/components/todo_items_list.html'%}
{% endblock %}