{# этот шаблон будет использован вместо index.html для отображения #}
{# имя данного шаблона автоматически формируется в классе ToDoListView #}

{% extends 'todo_list/base.html' %}

{% block title %}
	ToDo список
{% endblock %}

{% block body %}
  <h3>ToDos:</h3>
  {% comment %} вместо <ul> подключаем todo_items_list.html
  <ul>
    {# {% for todo_item in todo_items %}  #}  
    {% for todo_item in object_list %}   
    	<li>
        {{ todo_item.title }}
        {% if todo_item.done %}
          ✅
        {% else %}
          ❌
        {% endif %}
      </li>
    {% endfor %}    
  </ul>
  {% endcomment %}
  {% include  'todo_list/components/todo_items_list.html'%}
{% endblock %}